



.container-footer {
    text-align: center;
    width: 100%;
    padding: 40px;
    background:var(--bg-color);
    margin-top: 40px;
    position: relative;
    bottom: 0;
  }
  
  .container-footer footer {
    max-width: 1200px;
    margin: auto;
    text-align: center;
  }
  
  .container-footer footer {
    text-align: center;
  }
  
  .container-footer footer {
    width: 100px;
  }
  
 

  .container-footer footer .redes-footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .container-footer footer .redes-footer .icon-redes {
    font-size: 30px;
    margin: 20px;
    background: #efefef;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #a2a2a2;
    transition: background-color var(--transition); /* Usa la variable */
  }
  
  footer .redes-footer .fa-linkedin-in:hover {
    background: #0e76a8;
    color: #fff;
  }
  
  footer .redes-footer .fa-github:hover {
    background: #000;
    color: #fff;
  }
  
  footer .redes-footer .fa-twitch:hover {
    background: #6441a5;
    color: #fff;
  }
  
  .container-footer footer hr {
    border: 1px solid #a2a2a2;
  }
  
  .container-footer h4 {
    text-align: center;
    color: #a2a2a2;
    margin-top: 20px;
  }